#left {
    flex-grow: 1;
    flex-basis: 55%;
    background-color: #dff2ff;
}

#left > .has_border {
    border-top: 5px dotted;
}

#left > section {
    margin-left: 5%;
}

#left ul {
    margin-top: -2%;
}

#left li {
    margin-top: 2px;
}

#me {
    display: flex;
    justify-content: center;
}

#me img {
    border-radius: 50%;
    margin: 10px;
    max-width: 10rem;
    max-height: 10rem;
    height: auto;
}

#print {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.imageBeforeText {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -1rem 0 0 0;
    padding: 0;
}

#icons{
    margin-top: -2%;
}

@media print {
    #left {
        flex-grow: 1;
        flex-basis: 55%;
        background-color: #dff2ff;
    }

    .imageBeforeText {
        margin: -10px 0 0 0;
        padding: 0;
    }

    #me img {
        border-radius: 50%;
        margin: 10px;
        max-width:  8rem;
        max-height: 8rem;
        height: auto;
    }

    #left > .has_border {
        border-top: 1px solid ;
    }

    body{
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
    }

}
